@import "compass/css3";

.letter-grid {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: -1;

  span {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.25);
    display: block;
    float: left;
    font-size: 10px;
    opacity: 0;
    padding: 10px;
    text-transform: uppercase;
    transition: background-color 0.75s, color 0.75s, opacity 0.75s,
      transform 0.5s;
    user-select: none;
    visibility: hidden;
    width: 10px;
    height: 10px;

    &:hover {
      background-color: orange;
      color: white;
      cursor: default;
    }

    &:nth-child(5n + 1) {
      color: orange;
      font-weight: bold;
      transform: rotate(45deg);
    }

    &:nth-child(10n + 1) {
      transform: rotate(-45deg);
    }

    &:nth-child(5n + 1) {
      &:hover {
        color: white;
      }
    }
  }
}

.js-show-letters span {
  opacity: 1;
  visibility: visible;
}
