$colors: #fedc00 0, #fedc00 1/18 * 100%, #fcb712 0, #fcb712 2/18 * 100%,
  #f7921e 0, #f7921e 3/18 * 100%, #e87f24 0, #e87f24 4/18 * 100%, #dd6227 0,
  #dd6227 5/18 * 100%, #dc4c27 0, #dc4c27 6/18 * 100%, #ca3435 0,
  #ca3435 7/18 * 100%, #b82841 0, #b82841 8/18 * 100%, #953751 0,
  #953751 9/18 * 100%, #364c88 0, #364c88 10/18 * 100%, #16599d 0,
  #16599d 11/18 * 100%, #02609e 0, #02609e 12/18 * 100%, #0073a9 0,
  #0073a9 13/18 * 100%, #008aa4 0, #008aa4 14/18 * 100%, #239a87 0,
  #239a87 15/18 * 100%, #7cba6d 0, #7cba6d 16/18 * 100%, #becc2f 0,
  #becc2f 17/18 * 100%, #e0d81d 0, #e0d81d 18/18 * 100%;

// $colors : #fedc00, #fcb712, #f7921e, #e87f24, #dd6227, #dc4c27, #ca3435, #b82841, #953751, #364c88, #16599d, #02609e, #0073a9, #008aa4, #239a87, #7cba6d, #becc2f, #e0d81d;

body {
  background: repeating-radial-gradient(circle at bottom left, $colors),
    repeating-radial-gradient(circle at bottom right, $colors);
  background-blend-mode: overlay;
  height: 100vh;
}
